@tailwind base;
@tailwind components;
@tailwind utilities;

.collapsible__trigger {
  display: inline-flex;
  align-items: center;
  width: 100%;
}
.collapsible__trigger:focus-visible {
  outline: 2px solid hsl(200 98% 39%);
  outline-offset: 2px;
}
.collapsible__trigger-icon {
  width: 20px;
  height: 20px;
  transition: transform 250ms;
  @apply ml-2
}
.collapsible__trigger[data-expanded] .collapsible__trigger-icon {
  transform: rotateZ(90deg);
}
.collapsible__content {
  width: 100%;
  overflow: hidden;
  animation: slideUp 300ms ease-out;
  @apply p-2
}
.collapsible__content[data-expanded] {
  animation: slideDown 300ms ease-out;
}
.collapsible__content-text {
  padding: 16px;
}
@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--kb-collapsible-content-height);
  }
}
@keyframes slideUp {
  from {
    height: var(--kb-collapsible-content-height);
  }
  to {
    height: 0;
  }
}